
.node  {
  stroke: #fff;
  stroke-width: 5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    text-align: left;
}

 p {
    text-indent: 20px;
    font-size: 130%
}

.rect{
	border: black solid;
	width: 60px;
	height: 30px;
	text-align: center
}

.circle{
	border: black solid;
	border-radius: 100%;
	width: 30px;
	height: 30px;
	text-align: center;
	padding: 5px
}

.panel-body{
	display:none
}

.panel-heading{
	text-align: center;
	font-weight: bold
}
